.item {
    line-height: 1.5rem;
    padding: 10px 20px;
    margin-bottom: 1rem;
    border: 1px solid var(--inputColor);
    display: flex;
    justify-content: space-between;
    transition: all 0.3s linear;
}

.item:hover {
    width: 100%;
    transform: scale(1.02);
}

.info {
    flex: 0  0 60%;
    display: flex;
    justify-content: space-between;
}

.expenditure {
    margin-right: 2rem;
}

.charge {
    font-weight: 300;
    font-size: 1rem;
    padding: 1px 3px;
}

.delete-btn, .edit-btn {
    background: none;
    border: none;
    font-size: 1.2rem;
    outline: none;
    cursor: pointer;
}

.delete-btn {
    color: var(--mainBlack );
}

.edit-btn { 
    color: var(--buttonColor);
}