:root {
    --primaryColor: #faf9fa;
    --mainWhite : #fff;
    --mainBlack : #222;
    --inputColor : #d8dbde;
    --buttonColor : #4771c6;
    --effectColor : #7caddc;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primaryColor);
    color: var(--mainBlack);
}

h1 { 
    margin: 1rem 0;
}